.radio {
    margin-right: 10px;
    position: relative;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #000000;
    border-radius: 50%;
}

.radio::before {
    width: 12px;
    height: 12px;
    top: 50%;
    right: 50%;
    position: absolute;
    content: "";
    border-radius: 50%;
    background-color: black;
    transform: translate(50%, -50%);
    opacity: 0;
}


.radio:checked::before {
    opacity: 1;
}

.label {

}

.label:not(:last-child) {
    margin-bottom: 20px;
}

.options {
    display: flex;
    flex-direction: column;
}
