.radio {
    margin-right: 10px;
}

.radio::before {
}


.radio:checked::before {
}

.label {

}

.label:not(:last-child) {
    margin-bottom: 20px;
}

.options {
    display: flex;
    flex-direction: column;
}
