.spanBlock {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.span {
    font-size: 16px;
    font-weight: 500;
    color: #0080ff;
}

.inputWrapper {
    max-width: 276px;

}

.input {
    padding: 8px 24px;
}

.pen {
    margin-right: 10px;
    width: 24px;
    height: 24px;
    object-fit: contain;
}